<launch>
    <!-- Instead of launching robot and camera, just emulate some state-->
    <node pkg="connector" type="dummy_states" name="dummy_states"
          output="screen"/>

    <node pkg="connector" type="state_connector" name="state_connector"
          output="screen"/>
    <node pkg="connector" type="action_connector" name="action_connector"
          output="screen"/>
    <node pkg="connector" type="clock" name="clock" output="screen"/>
    <node pkg="mqtt_bridge" type="state_bridge" name="state_bridge"
          output="screen"/>
    <node pkg="mqtt_bridge" type="action_bridge" name="action_bridge"
          output="screen"/>
    <param name="debug" type="bool" value="true"/>
</launch>
